<footer>

    <div class="f-info">
        <p class="f-infi-socials">&copy; 2023 Wanderlust. All rights reserved.</p>
        <div>Wanderlust Private Limited </div>
        <div class="f-info-links">
            
            <a href="#">Terms of Service</a>
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>